.cta {
    @include flexRow(false);
    @include flexContent($align: center);

    width: 100%;

    //* MEDIUM SCREENS
    @media only screen and (max-width: 999px) and (min-width: 600px) and (max-height: 500px) {
        @include flexRow(true);
        @include flexContent($align: flex-start, $justify: space-between);     
    }

    //* BIG SCREENS
    @media only screen and (min-width: 1000px) {
        @include flexRow(true);
        @include flexContent($align: flex-start, $justify: space-between);

        width: 100%;
    }

    &__input-box {
        width: 100%;

        //* SMALL SCREENS
        @media only screen and (min-width: 500px) {
            max-width: 38rem;
        }

        //* MEDIUM SCREENS
        @media only screen and (max-width: 999px) and (min-width: 600px) and (max-height: 500px) {
            flex-basis: 65%;
        }

        //* BIG SCREENS
        @media only screen and (min-width: 1000px) {
            flex-basis: 63%;
            max-width: 100%;
        }
        @media only screen and (min-width: 1200px) {
            flex-basis: 65%;
        }

        & .cta__input {
            border: 1px solid rgba($color-neutral-1, .4);
            border-radius: 2.5rem;
            display: inline-block;
            margin-bottom: 1.2rem;
            outline: none;
            padding: 1.5rem 0;
            padding-left: 2.5rem;
            width: 100%;
    
            //* SMALL SCREENS
            @media only screen and (min-width: 500px) {
                margin-bottom: 1.5rem;
            }
    
            //* MEDIUM SCREENS
            @media only screen and (max-width: 999px) and (min-width: 600px) and (max-height: 500px) {
                margin-bottom: 0;
            }
    
            //* BIG SCREENS
            @media only screen and (min-width: 1000px) {
                margin-bottom: 0;
                padding: 1.8rem 0;
                padding-left: 2.5rem;
            }

            &.invalid {
                border: 1px solid $color-secondary-2;
                margin-bottom: .5rem;
            }
    
            &::placeholder {
                color: rgba($color-neutral-1, .4);
            }
        }

        & p.invalid {
            color: $color-secondary-2;
            font-size: 1.1rem;
            font-style: italic;
            margin-bottom: 2rem;
            text-align: center;

            @media only screen and (max-width: 999px) and (min-width: 600px) and (max-height: 500px) {
                padding-left: 2.5rem;
                text-align: left;
            }

            @media only screen and (min-width: 1000px) {
                padding-left: 2.5rem;
                text-align: left;   
            }
        }
    }

    .hidden {
        display: none;
    }

    

    &__button {
        background-color: $color-primary;
        border: none;
        border-radius: 2.5rem;
        box-shadow: 0 5px 10px rgba($color-black, .2);
        color: $color-white;
        cursor: pointer;
        display: inline-block;
        outline: none;
        padding: 1.5rem 0;
        text-align: center;
        width: 100%;

        //* SMALL SCREENS
        @media only screen and (min-width: 500px) {
            max-width: 38rem;
        }

        //* MEDIUM SCREENS
        @media only screen and (max-width: 999px) and (min-width: 600px) and (max-height: 500px) {
            flex-basis: 30%;
        }

        //* BIG SCREENS
        @media only screen and (min-width: 1000px) {
            flex-basis: 32%;
            padding: 1.8rem 0;
        }
        @media only screen and (min-width: 1200px) {
            flex-basis: 30%;
        }

        &:hover,
        &:active {
            @media only screen and (pointer: fine) {
                animation: size 1s forwards;
            }
        }
    }
}

@keyframes size {
    0% {
        background-color: $color-primary;
        width: 100%;
    }
    50% {
        background-color: rgba($color-primary, .85);
        width: 60%;
    }
    100% {
        background-color: $color-primary;
        width: 100%;
    }
}