.footer {
    @include flexRow(false);
    @include flexContent($align: center);

    &-social {
        @include flexRow(true);
        @include flexContent($justify: space-around);
        
        margin-bottom: 2.5rem;
        max-width: 13.5rem;
        width: 34%;

        //* BIG SCREENS
        @media only screen and (min-width: 1000px) {
            @include flexContent($justify: space-between);
        }

        &__icon {
            display: block;
            width: 2.5rem;

            //* MEDIUM SCREENS
            @media only screen and (min-width: 600px) {
                width: 3rem;
            }
        }
    }

    &-copyright-box {
        margin-bottom: 3.5rem;

        &__copyright {
            font-size: 1.2rem;
        }
    }
}