*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    background-color: rgba($color-secondary-1, .1);
    box-sizing: border-box;
    overflow-x: hidden;
    padding-top: 20%;
}

.container {
    padding: 0 12%;
}